/* CSS Datei */

html{
     height: 100%;
}

body{
    background-color: rgba(0, 49, 255, 0.7);
    padding-top: 0px;
    margin: 0;
    height: 100%;
}

p{
    margin: 0;
}

.contentbackground{
    background-image: url('../img/background/bg_cobblestone.png');
    height: auto;
}

.headerbackground{    
    background-image: url('../img/background/bg_grass.png');
    background-repeat: repeat-x;
    height: 64px;
    margin-top: 300px;
}

.footerbackground{
    
    background-image: url('../img/background/bg_bedrock.png');
    background-repeat: repeat;
    height: 128px;
}

#imgLogo > img{
    display: block;
    width: 1240;
    margin: 0 auto;
}

.main{
    width: 1400;
    margin: 0 auto;
}

.header{      
    width: 1400px;
    margin: 0 auto;
}

.content{
    width: 80%; 
    height: auto;
}

.leftsidebar{
    width: 20%;
    height: 100%;
    float: left;
}

.footer{
    width: 1400px;
    margin: 0 auto;
}

