/* CSS Datei */

html{
     height: 100%;
}

body{
    background-color: rgba(0, 49, 255, 0.7);
    padding-top: 0px;
    margin: 0;
    height: 100%;
}

p{
    margin: 0;
}

.contentbackground{
    background-image: url('../img/background/bg_cobblestone.png');
    height: auto;
}

.headerbackground{    
    background-image: url('../img/background/bg_grass.png');
    background-repeat: repeat-x;
    margin-top: 50px;
    height: 64px;
}

.footerbackground{
    background-image: url('../img/background/bg_bedrock.png');
    background-repeat: repeat;
}

#imgLogo img{
    display: block;
    width: 800;
    margin: 0 auto;
}

.content{
    width: 1200px;
    min-height: 720px;
    margin: 0 auto;
}

.header{      
    width: 1200px;
    margin: 0 auto;
    padding: 1px;
}

.footer{
    width: 1200px;
    margin: 0 auto;
    height: 64px;
}

.single{
    width: 1200px;
    margin: 0 auto;
    height: 700px;
}

.single .txt{
    text-align: left;

    font-size: 64px;
}

.single img{
    width: 256px;
    padding: 25px;
    margin: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid rgb(82, 58, 34);
    border-radius: 50%;
    float: left;
}

.container{
    width: 1200px; 
    float: left;
    margin: 0 auto;
}

.container .item{
    width: 25%; 
    float: left;
    height: 275px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.item img{
    width: 128px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid rgb(82, 58, 34);
    border-radius: 50%;
}

.item p{
    font-size: 40px;
    padding-bottom: 15px;    
}

.item a{
    color: #000000;
    text-decoration: none;
}



#navigation a{
    color: #fff;
}

#navigation form{
    padding: 0;
    
}

#navigation li{
    display: inline;
    text-align: center;
    list-style: none;
    padding: 10px;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0);
}

#navigation li a:hover{
    display: inline;
    text-align: center;
    background-color: rgb(82, 44, 7);
    border-radius: 25%;
}

#navigation a{
    text-decoration: none;
}

#navigation input[type=submit]{
    padding: 0;
    margin: 0;
    height: 32;
    width: 64px;
}

#navigation input[type=text]{
    padding: 0;
    margin: 0;
    height: 32px;
    width: 256px;
}

.shoppingCart{
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    min-height: 670px;
}

.shoppingCart ul{
    padding: 0;
    margin: 0;
}

.shoppingCart li{
    list-style: none;
    margin: 0;
    padding: 20px;
}
