/* CSS Datei */

html{
     height: 100%;
}

body{
    background-color: rgba(0, 49, 255, 0.7);
    padding-top: 128px;
    margin: 0;
    height: 100%;
}

#contentbackground{
    background-image: url('../img/background/bg_cobblestone.png');
}

#headerbackground{
    
    background-image: url('../img/background/bg_grass.png');
    background-repeat: repeat-x;
    height: 64px;
}

#footerbackground{
    
    background-image: url('../img/background/bg_bedrock.png');
    background-repeat: repeat;
    height: 128px;
}

#main{
    width: 1400;
    height: 50%;
    margin: 0 auto;
}

#header{      
    width: 1400px;
    margin: 0 auto;
}

#content{
    width: 80%;
    float: left;
    
}

#leftsidebar{
    width: 20%;
    float: left;
}

#footer{
    width: 950;
    margin:  0 auto;
    padding-top: 64;
    padding-bottom: 64;
}

